<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/styles/main.css' | url }}" />
  <link
      rel="icon"
      href="{{ '/Images/favicon.png' | url }}"
      type="image/x-icon"
    />
</head>
<body>

  <header>
      <div>
        <img
          src= "{{ '/Images/ITDT Logo.png' | url }}"
          alt="In This Dull Town Logo"
          style="width: 70px"
        />
        <h1>In This Dull Town</h1>
      </div>
    </header>
  
    <main class="markdown">
  <div class="Post">
    {{ content | safe }}
  </div>
  </main>

  <footer>
      <p>
        In This Dull Town is created by Isabella Martin, and protected under a
        creative commons attribution non-commercial sharealike 4.0 international
        license. Please credit me if you make any derivitive work. I would love
        to see it too! Message me at
        <a href="https://itdtofficial.tumblr.com/" target="_blank"
          >https://itdtofficial.tumblr.com/</a
        >
      </p>
    </footer>
</body>
</html>
