body {
  background-color: #161616;
  color: #e6e6e6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overscroll-behavior: none;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
h1,
h2,
h3 {
  font-family: monospace;
}

main {
  grid-row: 2;
  margin: clamp(8px, 1vw, 24px);
}

.mtc {
  padding: 10px;
  margin: 20px 0px;
  text-decoration: none;
  line-height: 30px;
}
a {
  text-decoration: none;
  color: #e6e6e6;
}

/* MD */
.Post {
  margin-bottom: 100px;
}
table,
th,
td {
  border: solid #2c2c2c;
  border-width: 2px;
  border-collapse: collapse;
  padding: 4px;
}
thead {
  background-color: #212822;
}
blockquote {
  border-left: solid #29442a;
  margin-left: auto;
}
blockquote p {
  padding-left: 8px;
}
.callout {
  background-color: #2c2c2c;
}
main.markdown {
  margin: 10px;
  padding: 0px 20px;
  min-height: 100vh;
}
.column {
  border-style: hidden;
}
.Post a {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .mtc {
    display: block;
  }
}

footer {
  background-color: #769183;
  padding: 20px;
  margin: 0px;
  gap: 2vw;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  margin-top: 2rem;
  grid-row: 3;
  font-size: small;
  box-sizing: border-box;
}

header {
  background-color: #2c2c2c;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 0%;
  grid-row: 1;
}
header div {
  display: flex;
  gap: 30px;
}
